<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFclmAzVv_BnOiBp0LVrhLypYvokKhiro</string>
	<key>GCM_SENDER_ID</key>
	<string>64712887070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.designcode.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-cs4261-aaefe</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-cs4261-aaefe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64712887070:ios:e1c33e26dcbd2ed783d70f</string>
</dict>
</plist>